* {box-sizing: border-box;font-family: sans-serif;}
body {background-color: lightgrey;}
header {background-color:white;
        position: relative;
        width: 850px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;border: .5px grey solid;}
        
.header-bg {background-color: rgb(70, 110, 163);
            width: 850px;
            height: 350px;}
.profile {
            height: 200px;
            width:400px;
            position: relative;
            top: -165px;
            left: 15px;
           float: left; }
.profile-pic {background: rgb(70, 110, 163);
    border: 1px black solid;
    height: 200px;
    width: 200px;
}
.pname {float: right;
        position: relative;
        top: 75px;
        left: 10px;
         color: white;}
.pname h1 {font-size: 25px;}
.pname h3 {font-size: 15px;font-weight: lighter;}
nav{
    display: inline-block;clear: left;position: relative;left: -160px;}
.navbtn{
    border: none;background: none;font-size: 20px;
    position: relative; top: 18px;left: -19px;}
.navbtn:hover { 
    box-shadow: 0 5px 0 rgb(70, 110, 163);}

#btn-about,#btn-fwb{
    border-left: 1px lightgrey solid; border-right: 1px lightgrey solid;}

.prfbtn{float: right;position: relative;
        top: -60px;
        left: -9px;
        }
.like {
    color:rgb(45, 75, 114);
    line-height: 20px;border-radius: 7%;}
.folo,.more,.msg{
    color:rgb(45, 75, 114);
    line-height: 20px;
    margin: none;border-radius: 7%;}
.folo {color: lightgray;}
.msg{border-radius: 0%;}
.main {margin-left: auto; margin-right: auto; width: 850px;clear: both;position: relative;top: -150px;}
.row{margin: 0;}
.column {
    float: left;
  }
  
  .left {
    width: 328px;
  }
  .right{width: 512px;}
  
  .middle {
    width: 10px;height: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .leftinfo,.rightinfo{background-color: white;border-radius: 1%;margin:10px;}
  .abtpg {position: relative; top:25px; padding-bottom: 10px;border-top: 1px lightgrey solid;}
  .leftinfo p {margin:10px; color: blue;}
  .leftinfo h4 {margin:10px;}
  .website {position: relative;top: 0; border-bottom: none;}
  .rightinfo{padding:10px;}
  .rightinfo a{color:rgb(70, 110, 163); text-decoration: none; }
  .rightinfo .info{position: relative;top: -10px;}
  .smllprfl {
            position: relative;
            float: left;
            background-color: rgb(70, 110, 163);
            height: 45px;
            width: 45px;}
  .update {position: relative; top: -22px; left: 52px;font-size: 10px;}
  p{font-size: 15px ; color: gray;}
  .rightpic {
        background-color:rgb(70, 110, 163);
        width: 100%;    height: 250px;
        margin-bottom: 5px;
    }
.rightadd{border-top: 1px lightgray solid; padding-top: 12px;}